# ── PostgreSQL ──
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# ── Application ──
HOST_PORT=5555
PORT=3000
NODE_ENV=production
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db_postgres:5432/${POSTGRES_DB}
JWT_SECRET=
JWT_REFRESH_SECRET=
